# =======================
# FLUTTER / DART
# =======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
*.lock

# Documentação gerada
**/doc/api/

# Cobertura
/coverage/

# =======================
# ANDROID / KOTLIN
# =======================
android/local.properties
**/local.properties

# Diretórios Gradle
.gradle/
*/.gradle/

# Artifacts Android Studio
android/app/debug/
android/app/profile/
android/app/release/

# =======================
# EDITORES / IDE
# =======================
.idea/
*.iml

# Optional (VSCode)
/.vscode/

# =======================
# ARQUIVOS TEMPORÁRIOS
# =======================
*.zip
*.log
*.tmp
*.swp
.DS_Store
flutter_01.png

# =======================
# LINUX / MAC / WINDOWS
# =======================
*.class
*.pyc
.atom/
.build/
.history
